#main-img {
  height: 800px;
  background-image: url("/images/ocean.jpg");
  background-size: cover;
  /* padding-top: 50px; */
}

#intro-box {
  width: 500px;
  margin: 0 auto;
  background-color: rgb(35, 38, 40);
  opacity: 0.8;
  box-shadow: 3px 3px 5px black;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  color: white;
  position: relative;
  top: 150px;
}

#intro-box h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

#intro-box p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
}

#intro-box a {
  color: black;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
  width: 130px;
  background-color: rgb(255, 251, 0);
  border: 0;
  border-radius: 10px;
}

#intro-box a:hover {
  background-color: rgb(255, 200, 0);
  box-shadow: 3px 3px 5px black;
}

#main-img img {
  width: 500px;
  height: 500px;
}

#second-box {
  padding: 10px;
  background: linear-gradient(0deg, white, rgb(149, 193, 255));
}

#second-box h3 {
  text-align: center;
  padding: 25px;
  margin: 0;
  font-size: 30px;
}

#cards {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.card {
  margin: 0 20px;
}

.card img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 2px 8px black;
  border-radius: 20px;
  object-fit: cover;
}

.card p {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 24px;
}
